.playground-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.editor-container {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.files {
  width: 240px;
  border-right: 1px solid #333;
  overflow-y: auto;
  background-color: #cfc7ff;
}

.editor {
  flex: 1;
  height: 100%;
}

.terminal-container {
  height: 45vh;
  min-height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #333;
  background-color: #1e1e1e;
  overflow: scroll;
}